<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
  <div class="row w-100">
    <div class="col d-flex">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn mr-3">
          <i class="ti-menu fs-24"></i>
      </button>

      <div class="logo">
        <!-- <span class="logo-text-self">SELF</span><span class="logo-text-pay">PAY</span> -->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="111" height="38" viewBox="0 0 111 38">
          <defs>
            <filter id="Subtraction_1" x="91.834" y="21.331" width="7.079" height="4.823" filterUnits="userSpaceOnUse">
              <feOffset dx="1" dy="1" input="SourceAlpha"/>
              <feGaussianBlur result="blur"/>
              <feFlood flood-opacity="0.161"/>
              <feComposite operator="in" in2="blur"/>
              <feComposite in="SourceGraphic"/>
            </filter>
          </defs>
          <g id="Group_6" data-name="Group 6" transform="translate(-287.949 -336.343)">
            <g id="Group_2" data-name="Group 2" transform="translate(287.939 341.304)">
              <text id="SELF" transform="translate(0.01 26.038)" fill="#00447b" font-size="29"  font-style="italic" letter-spacing="-0.03em"><tspan x="0" y="0">SELF</tspan></text>
              <text id="PAY" transform="translate(57.01 26.038)" fill="#eb3333" font-size="29"  font-style="italic"><tspan x="0" y="0">PAY</tspan></text>
            </g>
            <g id="Group_5" data-name="Group 5" transform="matrix(0.998, 0.07, -0.07, 0.998, 379.82, 357.255)">
              <g transform="matrix(1, -0.07, 0.07, 1, -93.11, -14.45)" filter="url(#Subtraction_1)">
                <path id="Subtraction_1-2" data-name="Subtraction 1" d="M4.155,3.719H.395L0,0H4.155a1.859,1.859,0,0,1,0,3.719Z" transform="translate(91.83 21.44) rotate(-1)" fill="#fff"/>
              </g>
            </g>
          </g>
        </svg>


      </div>
    </div>


    <div class="col-md-6">


      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
              <div class="input-group-prepend" dropdown>


                  <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle border-lightgrey"
                          aria-controls="dropdown-basic" style="font-weight: normal;  border-right-width: 0;">
                    All<span class="caret"></span>
                  </button>
                  <div id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                      <a class="dropdown-item" href="#">Primary C/M#</a>
                      <a class="dropdown-item" href="#">Zoom BNF#</a>
                      <a class="dropdown-item" href="#">Visa Beneficiary Name</a>
                      <a class="dropdown-item" href="#">Dependent</a>
                      <a class="dropdown-item" href="#">Associate Corp</a>
                      <a class="dropdown-item" href="#">Requested By</a>
                </div>

              </div>
              <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-default btn-lightgrey rounded-0" type="button">
                    <img src="../../../assets/img/icon_search.svg" width="18" alt="">
                  </button>
              </div>
          </div>
      </form>
    </div>

    <div class="col-md-4 d-flex">

          <form class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search mr-4">
            <div class="input-group">

                <!-- <input type="text" class="form-control  rounded-0" placeholder="Last 7 Days" aria-label="Search" aria-describedby="basic-addon2"> -->
                <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="true" [ranges]="ranges" [isInvalidDate] = "isInvalidDate"
                [showClearButton]="true" class="form-control"/>

                <div class="input-group-append">
                    <button class="btn btn-default btn-lightgrey" type="button">
                      <img src="../../../assets/img/icon_calendar.svg" width="18" alt="">
                    </button>
                </div>
            </div>
        </form>

        <button class="btn btn-default btn-lightgrey" type="button">
          <img src="../../../assets/img/icon_download.svg" width="18" alt="">
        </button>
    </div>
  </div>
</nav>
