<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
  <div class="row w-100">
    <div class="col d-flex">
      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn mr-3">
          <i class="ti-menu fs-24"></i>
      </button>

      <div class="logo">
        <span class="logo-text-self">SELF</span><span class="logo-text-pay">PAY</span>
      </div>
    </div>


    <div class="col-md-6">
     

      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
              <div class="input-group-prepend" dropdown>

              
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-secondary dropdown-toggle border-lightgrey"
                          aria-controls="dropdown-basic">
                    All<span class="caret"></span>
                  </button>
                  <div id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                      <a class="dropdown-item" href="#">Primary C/M#</a>
                      <a class="dropdown-item" href="#">Zoom BNF#</a>
                      <a class="dropdown-item" href="#">Visa Beneficiary Name</a>
                      <a class="dropdown-item" href="#">Dependent</a>
                      <a class="dropdown-item" href="#">Associate Corp</a>
                      <a class="dropdown-item" href="#">Requested By</a>
                </div>
              
              </div>
              <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-default btn-lightgrey rounded-0" type="button">
                      <i class="ti-search"></i>
                  </button>
              </div>
          </div>
      </form>
    </div>

    <div class="col-md-4 d-flex">

          <form class="d-none d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search mr-4">
            <div class="input-group">

                <input type="text" class="form-control  rounded-0" placeholder="Last 7 Days" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-default btn-lightgrey" type="button">
                        <i class="ti-calendar"></i>
                    </button>
                </div>
            </div>
        </form>

        <button class="btn btn-default btn-lightgrey" type="button">
          <i class="ti-upload"></i>
        </button>
    </div>
  </div>
</nav>
