<ul class="navbar-nav sidebar accordion" id="accordionSidebar" #toggleSidebarNav>

  <li class="nav-item active active-link">
      <a class="nav-link" href="index.html">
        <img src="../../../assets/img/icon_folder_stroke.svg" alt="">
          <span>All Cases</span></a>
  </li>

  <div class="sidebar-heading">
      FILTERS
  </div>
  <hr class="sidebar-sep mx-3">
  <li class="nav-item">
      <a class="nav-link active" routerLink="/" >
        <img src="../../../assets/img/icon_folder.svg" alt="">
          <span>Requested by me</span>
      </a>

  </li>

  <div class="sidebar-heading">
    STATUSES
  </div>
  <hr class="sidebar-sep mx-3">
  <li class="nav-item">
      <a class="nav-link"  routerLink="/" >
          <img src="../../../assets/img/icon_folder.svg" alt="">
          <span>Pending Signed EA</span>
      </a>

  </li>

  <li class="nav-item">
      <a class="nav-link"  routerLink="/" >
        <img src="../../../assets/img/icon_folder.svg" alt="">
          <span>Waiting for Payment</span>
      </a>

  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <img src="../../../assets/img/icon_folder.svg" alt="">
          <span>Paid</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link"  routerLink="/">
        <img src="../../../assets/img/icon_folder.svg" alt="">
          <span>Request Expired</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/">
        <img src="../../../assets/img/icon_folder.svg" alt="">
        <span>Cancelled</span></a>
</li>


<!-- OD logo -->
  <a class="" routerLink="/" class="company-logo">
      </a>

</ul>
