<ul class="navbar-nav bg-gradient-white sidebar accordion" id="accordionSidebar">

  <li class="nav-item active active-link">
      <a class="nav-link" href="index.html">
        <i class="ti-folder"></i>
          <span>All Cases</span></a>
  </li>

  <div class="sidebar-heading">
      FILTERS
  </div>

  <li class="nav-item">
      <a class="nav-link active" routerLink="/" >
        <i class="ti-folder"></i>
          <span>Requested by me</span>
      </a>

  </li>

  <div class="sidebar-heading">
    STATUSES
  </div>

  <li class="nav-item">
      <a class="nav-link"  routerLink="/" >
          <i class="ti-folder"></i>
          <span>Pending Signed EA</span>
      </a>

  </li>

  <li class="nav-item">
      <a class="nav-link"  routerLink="/" >
          <i class="ti-folder"></i>
          <span>Waiting for Payment</span>
      </a>

  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
      <a class="nav-link" routerLink="/">
          <i class="ti-folder"></i>
          <span>Paid</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
      <a class="nav-link"  routerLink="/">
          <i class="ti-folder"></i>
          <span>Request Expired</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/">
        <i class="ti-folder"></i>
        <span>Cancelled</span></a>
</li>

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div> -->


</ul>
